<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
<body>
    <div>
        <nav class="nav flex justify-content-between">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a id="show-all" class="nav-link active" href="/bookworm">All</a></li>
            </ul>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" href="/bookworm/new">To add a new Book</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <br/>
        <h1>Edit this Book Page</h1>
        <br/>
        <form class= "form-groupaction" action="/bookworm/<%=book._id%>?_method=PUT" method="POST">
            <input type="text" class="form-control" name="name" value="<%=book.name%>" placeholder="Book Title"/><br/>
            <input type="text" class="form-control" name="genre" value="<%=book.genre%>" placeholder="Genre"/><br/>
            <input type="text" class="form-control" name="img" value="<%=book.img%>" placeholder="Cover Image"/><br/>
            <input type="text" class="form-control" name="author" value="<%=book.author%>" placeholder="Author"/><br/>
            <input type="number" class="form-control" name="price" value="<%=book.price%>" placeholder="Price"/><br/>
            <div class="form-group">
                <textarea class="form-control" rows="4" name="description" value="<%=book.description%>" placeholder="Description"></textarea>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="read"
                <% if(book.read === true ){ %>
                    checked
                <% } %>    
                >
                <label class="form-check-label">
                    Check Box if you have read this book
                </label>
                <br>
                <input class="form-check-input" type="checkbox" name="owned"
                <% if(book.owned === true ){ %>
                    checked
                <% } %>    
                >
                <label class="form-check-label">
                    Check Box if you own this book
                </label>
            </div>
            <br/>
        <input class="btn btn-success" type="submit" value="Submit Changes"/>
        </form>
    </div>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>